/* news .css */
@charset "utf-8";
:root{
    --main-color-gray : #5c5c5c;
    --main-color-blue : #5e889e;
    --sub-color-purple : #755562;
    --sub-color-gray : #999;
}

main{ 
    width: 100%; height: 350px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover; background-position: 50% 25%;
    background-repeat: no-repeat;
}
main .cloud_banner{ 
    width: 100%; height: 100%;
    background-image: url(../img/cloud.png);
    background-size: cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    animation: 60s moveCloud infinite linear;
}
@keyframes moveCloud{
    0%{ background-position: 0% 130%;}
    50%{ background-position: 100% 130%;}
    100%{ background-position: 0% 130%;}
}
main .cloud_banner .wrap{ 
    width: 1200px; height: 100%;
    margin: 0 auto; padding-bottom: 50px;
    color: var(--main-color-gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
main .cloud_banner .wrap .txt_part{ }
main .cloud_banner .wrap .txt_part h3{ 
    font-size: 24px; font-weight: normal;
}
main .cloud_banner .wrap .txt_part h3 span{ font-weight: bold;}


#section{ }
#section .wrap{ 
    width: 1000px; padding: 0 10px;
    margin: 0 auto; padding-bottom: 60px;
    /* background-color: #ffa; */
}
#section .wrap .cont_box{ 
    width: 100%; 
    padding: 20px 0;
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid var(--main-color-blue);
    /* background-color: #afa; */
}
#section .wrap .cont_box:last-child{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main-color-blue);
}
#section .wrap .cont_box .img_part{ 
    width: calc(30% - 10px); height: 125px;   
    border-radius: 4px;
    background-size: cover; background-position: 50% 50%;
}
#section .wrap .cont_box .txt_part{ 
    width: calc(70% - 10px);    
    color: var(--main-color-gray);
    /* background-color: #afa; */
    position: relative;
}
#section .wrap .cont_box .txt_part h4{ 
    padding-bottom: 20px; 
    font-size: 18px; font-weight: normal;
    color: var(--main-color-blue);
}
#section .wrap .cont_box .txt_part p{ 
    font-size: 14px;
    word-break: keep-all;
}
#section .wrap .cont_box .txt_part span{ 
    position: absolute; bottom: 0; right: 0;
    display: block;
    font-size: 14px; font-style: italic;
}

